<!doctype html>
<html>
  <head>
  </head>
  <body>

    <script src="js/Background.js"></script>
    <script src="js/FarmerJohn.js"></script>
    <script src="js/ShotGun.js"></script>
    <script src="js/UfoBeam.js"></script>
    <script src="js/Ufo.js"></script>
    <script src="js/UfoAi.js"></script>
    <script src="js/Cow.js"></script>
    <script src="js/LineSight.js"></script>
    <script src="js/Game.js"></script>
    <script src="js/main.js"></script>

    {{#development}}

    <script>
      var ws;
      function socket() {
        ws = new WebSocket("ws://127.0.0.1:8080");
        ws.onmessage = function ( e ) {
          var data = JSON.parse(e.data);
          if ( data.r ) {
            location.reload();
          }
        };
      }
      setInterval(function () {
        if ( ws ) {
          if ( ws.readyState !== 1 ) {
            socket();
          }
        } else {
          socket();
        }
      }, 1000);
    </script>

    {{/development}}

  </body>
</html>
